body {
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  background: #EEEEEE;
  padding: 1rem;
  font-family: system-ui;
  text-align: center;
}
.avatar-img {
  width: 100%;
  border-radius: 50%;
}
.avatar {
  margin: 0 auto;
  width: 200px;
}
.List {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item {
  border: 0;
  font: inherit;
  border-radius: 4px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 16px;
  text-decoration: none;
  margin: 0 0 20px;
}
.item > img {
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}
.item--black {
  background-color: #181717;
}
.item--dark-blue {
  background-color: #0077B5;
}
.item--light-blue {
  background-color: #00AFF0;
}
.item--green{
  background-color: #0CD870;
}
@media only screen and (max-width: 600px) {
  .List {
    flex-direction: column;
  }
}
